name: Deploy to GitHub Pages

on:
  push:
    paths-ignore:
      - 'cmake/**'
      - 'filedata/**'
      - 'ops/**'
    branches: [master]
  pull_request:
    paths-ignore:
      - 'cmake/**'
      - 'filedata/**'
      - 'ops/**'
    branches: [master]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    uses: iganets/.github/.github/workflows/gh-pages.yml@main
    with:
      IGANET_OPTIONAL: "examples;unittests;perftests"
    secrets: inherit
